<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.hengjia.api.modules.trade.dao.AutoConfigMapper">
  <resultMap id="BaseResultMap" type="com.baibei.hengjia.api.modules.trade.model.AutoConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="product_trade_no" jdbcType="VARCHAR" property="productTradeNo" />
    <result column="product_trade_name" jdbcType="VARCHAR" property="productTradeName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="auto_buy_price" jdbcType="DECIMAL" property="autoBuyPrice" />
    <result column="auto_buy_count" jdbcType="INTEGER" property="autoBuyCount" />
    <result column="auto_sell_price" jdbcType="DECIMAL" property="autoSellPrice" />
    <result column="auto_sell_count" jdbcType="INTEGER" property="autoSellCount" />
    <result column="closing_time" jdbcType="TIMESTAMP" property="closingTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
  </resultMap>

  <select id="closingTimeList" resultMap="BaseResultMap">
    select * from tbl_tra_auto_config t where 1=1
    <![CDATA[and t.closing_time < now()]]>
  </select>

  <select id="getValidList" resultMap="BaseResultMap">
    select * from tbl_tra_auto_config t
where t.flag = 1
and t.status = 'on'
and (t.auto_buy_price = 1160 or t.auto_sell_price = 1160)
and t.closing_time > now()
  </select>
</mapper>