<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.hengjia.api.modules.settlement.dao.CleanLogMapper">
  <resultMap id="BaseResultMap" type="com.baibei.hengjia.api.modules.settlement.model.CleanLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="func_flag" jdbcType="VARCHAR" property="funcFlag" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="VARCHAR" property="fileSize" />
    <result column="sup_acct_id" jdbcType="VARCHAR" property="supAcctId" />
    <result column="qs_zc_amount" jdbcType="DECIMAL" property="qsZcAmount" />
    <result column="freeze_amount" jdbcType="DECIMAL" property="freezeAmount" />
    <result column="unfreeze_amount" jdbcType="DECIMAL" property="unfreezeAmount" />
    <result column="sy_zc_amount" jdbcType="DECIMAL" property="syZcAmount" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
    <result column="resp" jdbcType="VARCHAR" property="resp" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
  </resultMap>
</mapper>