<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.hengjia.api.modules.product.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.baibei.hengjia.api.modules.product.model.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="spu_no" jdbcType="VARCHAR" property="spuNo" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_title" jdbcType="VARCHAR" property="categoryTitle" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="origin_price" jdbcType="DECIMAL" property="originPrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="updown" jdbcType="VARCHAR" property="updown" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
  </resultMap>
</mapper>