<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.hengjia.api.modules.account.dao.RecordCouponThawMapper">
  <resultMap id="BaseResultMap" type="com.baibei.hengjia.api.modules.account.model.RecordCouponThaw">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="product_trade_no" jdbcType="VARCHAR" property="productTradeNo" />
    <result column="record_no" jdbcType="VARCHAR" property="recordNo" />
    <result column="coupon_type" jdbcType="VARCHAR" property="couponType" />
    <result column="trade_type" jdbcType="TINYINT" property="tradeType" />
    <result column="thaw_balance" jdbcType="DECIMAL" property="thawBalance" />
    <result column="change_amount" jdbcType="VARCHAR" property="changeAmount" />
    <result column="retype" jdbcType="TINYINT" property="retype" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
  </resultMap>
  <select id="getAll" resultType="com.baibei.hengjia.api.modules.account.bean.vo.RecordVo" parameterType="com.baibei.hengjia.api.modules.account.bean.dto.RecordDto">
    SELECT change_amount, create_time, trade_type,thaw_balance balance FROM tbl_record_coupon_thaw WHERE customer_no = #{customerNo}
    <if test="retype!='' and retype!=null">
      and retype=#{retype}
    </if>
    <if test="couponType!='' and couponType!=null">
      and coupon_type=#{couponType}
    </if>
    and flag=1
    ORDER BY
    create_time DESC ,id
  </select>
</mapper>