<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.hengjia.api.modules.shop.dao.ShpOrderMapper">
  <resultMap id="BaseResultMap" type="com.baibei.hengjia.api.modules.shop.model.ShpOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="sum_point" jdbcType="DECIMAL" property="sumPoint" />
    <result column="out_ordernum" jdbcType="VARCHAR" property="outOrdernum" />
    <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo" />
    <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delivered_time" jdbcType="TIMESTAMP" property="deliveredTime" />
    <result column="received_time" jdbcType="TIMESTAMP" property="receivedTime" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>

  <select id="sumAmount" parameterType="java.util.Map" resultType="java.math.BigDecimal">
    select ifnull(sum(t.sum_point),0) from tbl_shp_order t
    where t.flag = 1
    and t.create_time between #{beginTime} and #{endTime}
    and t.order_status in ('success','delivered','received')
  </select>
</mapper>