<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baibei.hengjia.api.modules.cash.dao.WithdrawInfoMapper">
  <resultMap id="BaseResultMap" type="com.baibei.hengjia.api.modules.cash.model.WithdrawInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="account_bank" jdbcType="VARCHAR" property="accountBank" />
    <result column="branch_bank" jdbcType="VARCHAR" property="branchBank" />
    <result column="bank_num" jdbcType="VARCHAR" property="bankNum" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>